body {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background-color: #F7F7F7;
    color: #3d3d3d;
}

header {
    height: 5vh;
    padding: 0px;
    margin: 10px;
    margin-bottom: 20px;
}

header .title {
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    color: #75EDBF;
    text-shadow: 1px 1px 5px #3d3d3d11;
}

header .title:hover {
    transform: scale(1.05);
    transition: transform 330ms ease-in-out;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0px;
}

table {
    border-spacing: 5px;
    margin-bottom: 15px;
}

td {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e0dfdf;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #3d3d3d2a;
    font-size: 13.5em;
    text-align: center;
    color: #60caa2;
    text-shadow: 1px 1px 5px #3d3d3d11;
    cursor: pointer;
    line-height: 0%;
}

td:hover {
    transform: scale(1.05);
    transition: transform 330ms ease-in-out;
}

button {
    width: 150px;
    height: 30px;
    font-weight: 600;
    font-size: 0.8em;
    border-radius: 20px;
    border-style: none;
    background-color: #92EDCA;
    color: #3d3d3d;
    box-shadow: 1px 1px 2px #3d3d3d2a;
}

button:hover {
    transform: scale(1.1);
    transition: transform 330ms ease-in-out;
} 

.endgame {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    font-weight: bold;
    color: #F7F7F7;
    text-shadow: 1px 1px 5px #3d3d3d11;
    text-align: center;
    background-color: #3d3d3d;
    border-radius: 25px;
    height: 200px;
    width: 350px;
    padding: 10px 20px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

footer {
    margin-top: 15px;
    font-weight: 600;
}